/* flex page */
.container_flex{
    display: flex;
    /* flex-wrap: wrap; */
    border: 3px solid black;
    background-color: lightgray;
    margin: 20px;
}
.item{
    padding: 20px;
    margin: 10px;

}
.item1{
    background-color: aqua;
}
.item2{
    background-color: blueviolet;
}
.item3{
    background-color: palegreen;
}
.item4{
    background-color: palevioletred;
}